.gallery {
    display: grid;
    grid-template-columns: repeat(4, minmax(min-content, max-content));
    grid-gap: 16px;
    max-width: calc(100% - 96px);
    margin: 0 auto;
}


@media screen and (max-width: 1279px) {
    .gallery {
        grid-gap: 14px;
        grid-template-columns: repeat(3, minmax(min-content, max-content));
    }
}

@media screen and (max-width: 1023px) {
    .gallery {
        grid-gap: 16px;
        grid-template-columns: repeat(2, minmax(min-content, max-content));
        max-width: calc(100% - 48px);
    }
  }

  @media screen and (max-width: 767px) {
    .gallery {
        grid-gap: 12px;
        grid-template-columns: minmax(min-content, max-content);
        max-width: calc(100% - 32px);
    }
  }