.place__paragraph {
    max-width: 484px;
    width: 100%;
    margin: 0;
}

@media screen and (max-width: 1279px) {
    .place__paragraph {
        max-width: 456px;
        width: 100%;
    }
}

@media screen and (max-width: 1023px) {
    .place__paragraph {
        max-width: 100%;
    }
}