.polls {
    max-width: 690px;
    width: 100%;
}

@media screen and (max-width: 1023px) {
    .polls {
        max-width: 720px;
    }
  }

  @media screen and (max-width: 767px) {
    .polls {
        min-width: 288px;
        max-width: 90%;
    }
  }