.polls_position {
    padding: 92px 0 92px 148px;
    margin: 0 auto;
}

@media screen and (max-width: 1279px) {
    .polls_position {
        padding-left: 48px;
    }
  }

  @media screen and (max-width: 1023px) {
    .polls_position {
        padding-left: 24px;
        padding-top: 88px;
        padding-bottom: 88px;
    }
  }

  @media screen and (max-width: 767px) {
    .polls_position {
        padding-top: 64px;
        padding-bottom: 64px;
        padding-left: 16px;
    }
  }